{% extends "main.html" %}
{% block content %}
	<div class="row top-category">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog App</h1>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="container">
	<div class="col-md-4">	
		<div class="row padding-top padding-bottom">
			<div class="col-md-1"></div>
			<div class="col-md-10 padding-none">
				
			</div>
			<div class="col-md-1"></div>
		</div>
		{% for category in categories %}
			<a href = "{{url_for('showProducts', category_id = category.id)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 category-list">
							<h3>{{category.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endfor %}
	</div>
	
	
	<div class="col-md-8">
	{% if latestProducts !=[] %}	
		<div class="row">
			<div class="col-md-6 align-left">
				<h2>Latest Products<h2>
				<div class="col-md-1"></div>
					{% for i in latestProducts %}
						<div class="category-item">
							<h3>{{i.productName}} <p><i>({{i.categoryName}})</i></p></h3>
							<figure class="creator">
								<img src="{{ i.picture}}">
								<figcaption>{{ i.name }}</figcaption>
							</figure>
						</div>
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
	</div>
</div>
{% endblock %}