{% extends "main.html" %}
{% block content %}
<div class="row top-category">
		<div class="col-md-6">
			<a href="{{url_for('showCatalog')}}">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
			</a>
		</div>
		<div class="col-md-6 text-right">
			<a href="{{url_for('showLogin')}}">Click Here to Log in </a>
		</div>
</div>
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner category">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ category_name }}</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	{% if products !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-8">
					{% for i in products %}
						<div class="category-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<figure class="creator">
								<img src="{{ i.picture}}">
							</figure>
						</div>
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
